@font-face {
  font-family: 'Norse Bold';
  src: url(/assets/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  position: relative;
}

.left-section {
  width: 35%;
  background-image: url(/assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.right-section {
  flex: 1;
  background-color: #f3f3f3f3;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  position: absolute;
  top: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.5);
  padding: 0.7rem 0;
}

.logo {
  width: 100px;
}

.logo-title {
  font-family: 'Norse Bold', serif;
  font-size: 100px;
  color: #fff;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 35%;
  text-align: center;
  color: #fff;
  padding: 0.5em 0;
}

a {
  font-style: normal;
  color: #fff;
}
