@font-face {
  font-family: 'Norse Bold';
  src: url(/assets/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.left-section {
  width: 40%;
  background-image: url(/assets/halie-west-25xggax4bSA-unsplash.jpg);
  position: relative;
}

.right-section {
  width: 60%;
  background-color: palevioletred;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  position: absolute;
  top: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: paleturquoise;
}

h1 {
  font-family: 'Norse Bold', serif;
}
